:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --offWhite:  rgba(255,255,255,.5);
}

body {
  font-family: 'Ubuntu Mono', monospace !important;
  /* font-family: 'Courier Prime', monospace !important; */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.text-bright:hover {
  color: var(--lightBlue);
  opacity: 0.8;
}

.border-bright {
  border: 1px solid var(--lightBlue);
}

.border-yellow {
  border: 1px solid var(--mainYellow);
}

.text-yellow {
  color: var(--mainYellow);
}

.text-yellow:hover {
  color: var(--mainYellow);
  opacity: .8;
}

  .text-white {
  color: var(--offWhite);
}

.logo {
  width: 50px;
  height: 50px;
}

.btn-style {
  text-transform: capitalize;
  /* font-size: 1.2rem; */
  background: transparent; 
  border-radius: 5px;
  /* padding: 5px; */
  /* margin: 5px; */
  cursor: pointer;
  text-decoration: none;
}

.btn-style:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.font-20 {
  font-size: 20px;
}